body {
    background-color: rgb(31, 31, 31); 
    color: black;
    font-family: 'Roboto', sans-serif;
}

.housing {
 background-color: rgb(243, 195, 44);
 font-weight: bold;
}
.cost-living {
 background-color: rgb(243, 214, 48);
 font-weight: bold;
}
.startups {
 background-color: rgb(244, 235, 51);
 font-weight: bold;
}
.venture {
 background-color: rgb(210, 237, 49);
 font-weight: bold;
}
.travel {
 background-color: rgb(122, 220, 41);
 font-weight: bold;
}
.commute {
 background-color: rgb(54, 204, 36);
 font-weight: bold;
}
.business-freedom {
 background-color: rgb(25, 173, 81);
 font-weight: bold;
}
.safety {
 background-color: rgb(13, 105, 153);
 font-weight: bold;
}
.health {
 background-color: rgb(5, 31, 165);
 font-weight: bold;
}
.education {
 background-color: rgb(21, 14, 120);
 font-weight: bold;
}
.environment {
 background-color: rgb(61, 20, 164);
 font-weight: bold;
}
.economy {
 background-color: rgb(92, 20, 161);
 font-weight: bold;
}
.tax {
 background-color: rgb(136, 20, 159);
 font-weight: bold;
}
.internet {
 background-color: rgb(185, 17, 125);
 font-weight: bold;
}
.leisure {
 background-color: rgb(209, 13, 84);
 font-weight: bold;
}
.tolerance {
 background-color: rgb(231, 12, 38);
 font-weight: bold;
}
.outdoors {
 background-color: rgb(241, 53, 27);
 font-weight: bold;
}

#toggle-button {
 background-color: rgb(63, 63, 63);
 color: white;
 padding: 10px;
 margin-left: 95px;
 font-weight: bold;
 margin-top: 5px;
}

#toggle-button:hover {
    cursor: pointer;
}

#app {
    width: 100%;
    position: relative;
    background-color: rgb(31, 31, 31); 
}

#content {
    display: flex;
    width: 100%;
    background-color: rgb(31, 31, 31); 
}

#tooltip {
    background-color: #98c7ff;
    position: absolute;
    color: white;
    border-radius: 10px;
}

#tooltip ul {
    list-style: none;
    margin: 10px;
    font-size: 12px;
    margin-top: -5px;
    margin-right: 15px;
    margin-bottom: 15px;
}

#tooltip div {
    margin: 10px;
    font-size: 15px;
}

#nav-bar {
    color: white;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

#nav-bar input {
    margin-top: 50px;
}

#search-bar {
    height: 30px;
    width: 300px;
}

#search-bar:focus {
        outline: none;
}

#search-button {
 background-color: rgb(63, 63, 63);
 color: white;
 padding: 11px;
 padding-right: 20px;
 padding-left: 20px;
 font-weight: bold;
}

#all-cities {
  background-color: rgb(63, 63, 63);
 color: white;
 padding: 11px;
 padding-right: 20px;
 padding-left: 20px;
 margin-right: 25px;
 font-weight: bold;   
}

#toggle-bar {
    margin-left: 10px;
    margin-top: 20px;  
    min-width: 200px;
    height: 1000px;
    background-color: rgb(31, 31, 31); 
    color: white;
}

.loaded {
    height: 0;
    width: 0;
}

.series:hover {
    color: black;
}

.label:hover {
    height: 100px;
    width: 100px;
    color: black;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 200px;
  left: 300px
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.svg {
    background-color: white;
}

#svg-container {
    margin-left: 30px;
    margin-top: 20px;
    height: 1010px;
    width: 1000px;
    background-color: rgb(31, 31, 31); 
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12) !important;
    overflow-x: scroll;
}

.slider {
  -webkit-appearance: none;
  width: 60%;
  height: 12px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 11px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: rgb(130, 131, 159);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgb(130, 131, 159);
  cursor: pointer;
}

.inputs {
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.inputs:checked ~ .checkmark {
  background-color: #2196F3;
}

.input-div {
    display: flex;
    color: white;
    font-size: 11px;
    font-weight: bold;
    background-color: rgb(31, 31, 31); 
}

.input-div div {
    margin-left: 8px;
    margin-top: 10px;
}

#last-div {
    display: flex;
}

footer {
    border-top: 1px solid rgb(96, 96, 96);
}
footer div {
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 40px;
    margin-left: 95%;
    margin-top: 10px;
    overflow: hidden;
}

footer div:hover {
    cursor: pointer;
}

footer div img {
    height: 40px;
    width: auto;
}