body {
    background-color: white;
    color: black;
}

.housing {
 background-color: rgb(243, 195, 44);
}
.cost-living {
 background-color: rgb(243, 214, 48);
}
.startups {
 background-color: rgb(244, 235, 51);
}
.venture {
 background-color: rgb(210, 237, 49);
}
.travel {
 background-color: rgb(122, 220, 41);
}
.commute {
 background-color: rgb(54, 204, 36);
}
.business-freedom {
 background-color: rgb(25, 173, 81);
}
.safety {
 background-color: rgb(13, 105, 153);
}
.health {
 background-color: rgb(5, 31, 165);
}
.education {
 background-color: rgb(21, 14, 120);
}
.environment {
 background-color: rgb(61, 20, 164);
}
.economy {
 background-color: rgb(92, 20, 161);
}
.tax {
 background-color: rgb(136, 20, 159);
}
.internet {
 background-color: rgb(185, 17, 125);
}
.leisure {
 background-color: rgb(209, 13, 84);
}
.tolerance {
 background-color: rgb(231, 12, 38);
}
.outdoors {
 background-color: rgb(241, 53, 27);
}

#toggle-button {
 background-color: black;
 color: white;
}

#toggle-button:hover {
    cursor: pointer;
}

#app {
    width: 100%;
    position: relative;
}

#content {
    display: flex;
    width: 100%;
}

#tooltip {
    background-color: #98c7ff;
    position: absolute;
    color: white;
    border-radius: 10px;
}

#tooltip ul {
    list-style: none;
    margin: 5px;
    font-size: 12px;
    margin-bottom: 10px;
}

#tooltip div {
    margin: 5px;
    font-size: 15px;
}

#nav-bar {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}

#nav-bar input {
    margin-top: 50px;
}

#toggle-bar {
    margin-left: 10px;
    margin-top: 20px;  
    min-width: 200px;
    height: 1000px;
    background-color: rgb(255, 255, 255);
    color: white;
}

.loaded {
    height: 0;
    width: 0;
}

.series:hover {
    color: black;
}

.label:hover {
    height: 100px;
    width: 100px;
    color: black;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 200px;
  left: 300px
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.svg {
    background-color: white;
}

#svg-container {
    margin-left: 10px;
    margin-top: 20px;
    height: 1010px;
    width: 1000px;
    background-color: white;
    border: 1px solid rgb(226, 226, 226);
    box-shadow: 0 16px 40px rgba(0,0,0,0.12) !important;
    overflow-x: scroll;
}
